
.header{

    background-color: rgb(73, 73, 228);
    color: rgb(240, 255, 242);
    border-radius: 5px;
    text-align: justify;
    padding: 20px;
}
.ul-item{
   list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

}
.ul-item li{

    display: block;
    margin: 1px;
    padding: 8px;
    margin-top: px;
    float: left;
    text-decoration: none;
    
    
    
    
}
.ul-item li a{
color: white;
text-decoration: none;
font-size: 1.5rem;
font-weight: 400;

}
.ul-item li:hover{

    background-color: rgb(255, 0, 13);
    border-radius: 5px;
    border: 1px white;

}
.nav-item h1{

font-size: 3rem;

}
.login-btn{
color: white;
font-weight: bold;
}
.box{

backdrop-filter: blur(14px);
border: 0.9px solid rgb(212, 210, 210);
border-radius: 2rem;
width: 25rem;
height: 30rem;
box-shadow: 0 5px 5px black;

}
input{
    background-color: transparent;
    width: 100%;
    border-radius: 14px;
    margin-top: 14px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.795);
    outline: none;
        
}
.btn-sub{

color: white;
border: 1px solid white;
width:60% ;
margin-left: 3.5rem;

}
.btn-sub:hover{
background-color: rgba(255, 255, 255, 0.301);
color: black;

}
.label-ep{

color: white;
font-size: 1.3rem;

}
.c-acc{

color: white;
text-decoration: none;


}
.c-acc:hover{
color: rgb(43, 226, 156);


}
::placeholder{

    color: rgba(255, 255, 255, 0.63);
    padding: 8px;
}